.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 420px;
  padding: 33px 80px 41px;
}

.title {
  margin-bottom: 27px;
}

.email {
  margin-bottom: 13px;
  color: var(--color-light-900);
}

